.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 64px 20px 64px;
  height: 110px;
  gap: 0px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 10%;
}

.menu {
  display: flex;
  gap: 30px;
  flex-direction: row;
}
