.section {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  width: 100%;
  padding: 120px 144px 120px 144px;
  max-width: 1440px;
  margin: 0px auto;

  @media (max-width: 768px) {
    padding: 120px 24px 120px 24px;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 7rem;
}

.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: var(--color-white);
  margin: 0px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  place-content: start space-evenly;
}