.section {
  padding: 120px 144px 120px 144px;
  max-width: 1440px;
  margin: 0px auto;

  @media (max-width: 768px) {
    padding: 120px 24px 120px 24px;
  }

  position: relative;
}

.title-container {
  padding-bottom: 4rem;
}

.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: var(--color-white);
  max-width: 800px;
  margin: 0 auto;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: masonry;
  gap: 24px;
  height: auto;
  width: 100%;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--color-opacity-0) 75%, var(--color-dark) 90%);
}