.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  place-items: center;
  justify-content: center;
  width: 100%;
  padding: 120px 144px 120px 144px;
  opacity: 0px;
}

.feedbackTitle {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.8) 100%);
  max-width: 800px;
}

.feedbackTitleSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.feedbackContentSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  place-items: start;
  gap: 24px;
}

.feedbackContentSectionFlex {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
