.mainPage {
  background: #1a1a1a;
  min-height: 100vh;
  min-width: 100vw;
}

.mainSection {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------ */

/* ------------------------------------------ */ ;
