.card {
    border: 1px solid var(--color-primary);
    padding: 16px;
    border-radius: calc(var(--radius-md));
    background-color: var(--color-dark);
    z-index: var(--z-index-1);
    border-bottom: 0;

    background: linear-gradient(180deg, var(--color-gray-9) 0%, var(--color-opacity-0) 100%);

    border-image: linear-gradient(180deg,
            var(--color-primary) 0%,
            var(--color-opacity-0) 100%) 1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.image {
    width: 70px;
    height: auto;
    align-self: start;
    object-fit: cover;
    margin: 0 auto;
    /* flex: 1; */
    border-radius: 5px;
}

.data {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
}

.name {
    margin: 0px;
    font-weight: 700;
    font-size: 22px;
}

.role {
    font-weight: 300;
}

.salary {
    margin-top: 20px;
}

.salary-value {
    font-weight: 700;
}

.links {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}