:root {
  --color-primary: #1E9387;
  --color-primary-opacity-02: #1E938733;
  --color-light-primary: #4FA89F;
  --color-light-primary-2: #92BEBA;

  --color-secondary: #FF972F;
  --color-light-secondary: #FFB163;

  --color-dark: #1A1A1A;

  --color-black: #000000;

  --color-gray-10: #202020;
  --color-gray-9: #222224;
  --color-gray-8: #353538;
  --color-gray-7: #3A3A3A;
  --color-gray-6: #575757;
  --color-gray-5: #A7A7A7;
  --color-gray-4: #C0C0C0;
  --color-gray-3: #C9C9C9;
  --color-gray-2: #CFD3D7;
  --color-gray-1: #E8E8E8;

  --color-white: #FFFFFF;
  --color-white-opacity-08: #FFFFFFCC;
  --color-white-opacity-06: #FFFFFF99;
  --color-white-opacity-0349: #FFFFFF59;
  --color-white-opacity-0149: #FFFFFF26;
  --color-white-opacity-0102: #FFFFFF1A;

  --color-opacity-0: #FFFFFF00;

  --radius-xxl: 99px;
  --radius-xl: 24px;
  --radius-lg: 16px;
  --radius-md: 8px;
  --radius-xs: 4px;
  --radius-xxs: 2px;

  --border-xxs: 1px;

  --shadow: 0px 0px 80px 0px;
  --shadow-2: 0px 0px 25px 0px;
  --shadow-3: 0 0 10px 2px;

  --z-index-min-1: -1;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;

  --blur-1: 15px;
  --blur-2: 150px;
  --blur-3: 250px;
  --blur-4: 290px;
  --blur-5: 500px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark) !important;
}