.homeSection {
  display: flex;
  flex-direction: row;
  padding: 64px;
  justify-content: space-between;
}

.homeTitleAndButtonsFlex {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 64px;
}
.homeTitlesGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.homeUserCommentsGroup {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  flex-direction: column;
}

.firstTitle {
  width: 549px;
  height: 33px;
  gap: 0px;
  opacity: 0px;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
  background: linear-gradient(
    180deg,
    #96bbb7 41.67%,
    rgba(150, 187, 183, 0) 198.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondTitle {
  width: 797px;
  height: 76px;
  gap: 0px;
  padding: 0;
  margin: 0;
  opacity: 0px;
  font-size: 75px;
  font-weight: 500;
  line-height: 82.5px;
  text-align: left;
  background: linear-gradient(
    180.9deg,
    #ffffff 54.85%,
    rgba(255, 255, 255, 0) 132.26%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdTitle {
  width: 549px;
  height: 66px;
  gap: 0px;
  opacity: 0px;
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 300;
  line-height: 66px;
  text-align: left;
  background: linear-gradient(
    180deg,
    #96bbb7 41.67%,
    rgba(150, 187, 183, 0) 198.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descTitle {
  width: 610px;
  height: 44px;
  gap: 0px;
  opacity: 0.6px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.01em;
  text-align: left;
}

.homeFrameButtons {
  gap: 24px;
  opacity: 0px;
}

.homeFrameButtons > button {
  font-weight: 300;
}

.homeWatchVideoButton {
  -webkit-box-shadow: 0px 0px 120px 0px rgba(30, 147, 135, 0.7);
  -moz-box-shadow: 0px 0px 120px 0px rgba(30, 147, 135, 0.7);
  box-shadow: 0px 0px 120px 0px rgba(30, 147, 135, 0.7);
}

.homeLogo {
  position: absolute;
  width: 600px;
  height: 596.26px;
  top: 60px;
  right: 35px;
  gap: 0px;
  scale: 1;
  opacity: 0px;
}
