.header {
  background-color: transparent;
  height: 110px;
  z-index: var(--z-index-3);
  backdrop-filter: saturate(100%) blur(var(--blur-1));
  position: fixed;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 64px;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 31px 24px;
  }
}

.header-mobile {
  display: flex;

  @media (min-width: 1200px) {
    display: none;
  }
}

.header-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
  }
}